<div class="view-start" ng-show="!State.Session.Loading">
    <div class="row">
        <div class="col-md-3">
            <img ng-src="{{Album.imageLink}}" width="250" height="250" alt="Album cover for {{Album.title}}" />
        </div>
        <div class="col-md-9">
            <p>Price: {{Album.price | price}}</p>
            <p>Views: {{Album.views | number}}</p>
            <p>Songs: {{Album.Songs.length}}</p>
            <input type="button" value="Play Songs" class="btn" ng-click="PlayAll()"/>
        </div>
    </div>

    <div class="row Music-Listing">
        <div class="page-header text-center">
            <h1>{{Album.title}} by {{Album.ArtistName}}</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <song ng-repeat="Song in Album.Songs" data="Song"></song>
        </div>
    </div>
</div>

<loader class="view-start" ng-show="State.Session.Loading"></loader>