<!DOCTYPE html>
<!-- Include the doctype to help pass validators -->
<head>
    <!-- Include the head section to help pass validators -->
    <meta charset="utf-8" />
    <!-- Setting a title makes no difference because the root pages <title></title> tag will be used over all-->
    <!-- You need a <title> and something inside of it to pass validation -->
    <title>Home Page</title>
</head>

<!-- It will help you early on if you start each template with a global div that wraps everything on that view -->
<!-- Get in the habit of all views start with the same class, this will ensure they all look similar -->
<div>
    <div class="jumbotron view-heading text-center">

    </div>
</div>
<div class="view-start">
    <div id="Searches" class="row">
        <div class="col-md-6">
            <form id="MusicSearch" class="Search">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" ng-model="MusicSearch" placeholder="Search Artist" uib-typeahead="art for art in SearchArtist($viewValue)" typeahead-editable="false" autocomplete="off" />
                <span class="glyphicon glyphicon-remove FakeClickable" ng-click="Clear('MusicSearch')" ng-show="MusicSearch"></span>
            </form>
        </div>

        <div class="col-md-6">
            <form id="PopulateStore" class="Search pull-right">
                <span class="glyphicon glyphicon-plus-sign FakeClickable" ng-click="AddArtist(MusicAdd)"></span>
                <input type="text" ng-model="MusicAdd" placeholder="New Artist" autocomplete="off" />
                <span class="glyphicon glyphicon-remove FakeClickable" ng-click="Clear('MusicAdd')" ng-show="MusicAdd"></span>
            </form>
        </div>
    </div>

    <div class="Music-Listing">

    </div>

    

</div>

