<!DOCTYPE html>
<!-- Include the doctype to help pass validators -->
<head>
    <!-- Include the head section to help pass validators -->
    <meta charset="utf-8" />
    <!-- Setting a title makes no difference because the root pages <title></title> tag will be used over all-->
    <!-- You need a <title> and something inside of it to pass validation -->
    <title>Home Page</title>
</head>

<!-- It will help you early on if you start each template with a global div that wraps everything on that view -->
<!-- Get in the habit of all views start with the same class, this will ensure they all look similar -->
<div>
    <div class="jumbotron view-heading text-center">

    </div>
</div>
<div class="view-start">


    <div id="Searches" class="row">
        <div class="col-xs-12 col-sm-6 col-md-6" style="display:inline-block">
            <form id="MusicSearch" class="Search">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" ng-model="State.ArtistData.MusicSearch" placeholder="Search Artist" uib-typeahead="art as art.firstName for art in SearchArtist($viewValue)" typeahead-editable="false" autocomplete="off" />
                <span class="glyphicon glyphicon-remove FakeClickable" ng-click="Clear('MusicSearch')" ng-show="State.ArtistData.MusicSearch"></span>
            </form>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 pull-right" style="display:inline-block">
            <form id="PopulateStore" class="Search pull-right">
                <loader width="10" height="10" inline="true" ng-show="State.ArtistData.MusicAddLoading"></loader>
                <span class="glyphicon glyphicon-plus-sign FakeClickable" ng-show="State.ArtistData.MusicAdd" ng-click="AddArtist(State.ArtistData.MusicAdd)"></span>
                <input type="text" ng-model="State.ArtistData.MusicAdd" placeholder="New Artist" autocomplete="off" />
                <span class="glyphicon glyphicon-remove FakeClickable" ng-click="Clear('MusicAdd')" ng-show="State.ArtistData.MusicAdd"></span>
            </form>
        </div>
    </div>

    <div class="Music-Listing row">
        <div ng-if="State.ArtistData.MusicSearch" ng-show="!State.Session.Loading">
            <music-Display ng-repeat="albums in State.ArtistData.Current.Albums | orderBy: 'price'" data="albums"></music-Display>
        </div>
        <loader ng-show="State.Session.Loading"></loader>
        <div ng-if="!State.ArtistData.MusicSearch">
            <music-Display ng-repeat="albums in State.ArtistData.All" data="albums"></music-Display>
        </div>
    </div>

    

</div>

