<!DOCTYPE html>

<head>
    <title>Song Content</title>
</head>

<div class="container col-xs-12 spacing">
    <div class="row song-item FakeClickable" ng-click="ToggleVideo()">
        <div style="display:inline-block" class="pull-left col-xs-7 col-sm-9">
            <p><span class="glyphicon glyphicon-cd"></span> {{data.title | limitTo: 100}}</p>
        </div>
        <div style="display:inline-block" class="pull-right col-xs-5 col-sm-3">
            <p class="text-right">Price: {{data.price | price}}</p>
        </div>
    </div>
    <youtube-video ng-if="show" video-id="data.YoutubeLink[0].Link"></youtube-video>
</div>