<!DOCTYPE html>

<head>
    <title>Footer Content</title>
</head>

<div class="container-fluid footer">

    <div class="page-header">

    </div>

    <div class="row">
        <div class="col-md-2 text-center">
            <p><span class="glyphicon glyphicon-phone"></span><a href="tel:5703232680"> 570-000-0000</a></p>
        </div>
        <div class="col-md-2 text-center">
            <p><span class="glyphicon glyphicon-print"></span><a href="fax:5705677378"> 570-000-0000</a></p>
        </div>
        <div class="col-md-4">
            <a href="/default.aspx#/"><img class="img-responsive" alt="Logo for the company" width="200" height="200" src="http://placehold.it/200x200" style="margin: 0 auto; margin-bottom:30px;" /></a>
        </div>
        <div class="col-md-2 text-center">
            <p><span class="glyphicon glyphicon-map-marker"></span> 0000 West Southern Ave, Williamsport PA 17701</p>
        </div>
        <div class="col-md-2 text-center">
            <p><span class="glyphicon glyphicon-copyright-mark"></span> Copyright 2017</p>
        </div>
    </div>
</div>